<ng-container *ngIf="step==1">
    <div class="wrapper">
        <div class="inner">
            <div class="image-holder">
                <img src="assets/images/2.jpg"
                     alt="">
            </div>
            <form>
                <h3>I'm a</h3>
                <div class="form-row">
                    <button type="button"
                            (click)="nextStep()">Man
                        <i class="zmdi zmdi-long-arrow-right"></i>
                    </button>
                    <button type="button"
                            (click)="nextStep()">Woman
                        <i class="zmdi zmdi-long-arrow-right"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="step==2">
    <div class="wrapper">
        <div class="inner">
            <div class="image-holder">
                <img src="assets/images/3.jpg"
                     alt="">
            </div>
            <form>
                <h3>I'm looking for</h3>
                <div class="form-row">
                    <button type="button"
                            (click)="nextStep()">Man
                        <i class="zmdi zmdi-long-arrow-right"></i>
                    </button>
                    <button type="button"
                            (click)="nextStep()">Woman
                        <i class="zmdi zmdi-long-arrow-right"></i>
                    </button>
                    <button type="button"
                            (click)="nextStep()">Everyone
                        <i class="zmdi zmdi-long-arrow-right"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="step==3">
    <div class="wrapper">
        <div class="inner">
            <div class="image-holder">
                <img src="assets/images/4.jpg"
                     alt="">
            </div>
            <form>
                <h3>How old are you?</h3>
                <div class="form-row">
                    <input type="number"
                           [min]="18"
                           class="form-control"
                           style="width: 100%;"
                           [(ngModel)]="userAge"
                           [ngModelOptions]="{standalone: true}"
                           placeholder="Age">
                </div>
                <button type="button"
                        (click)="nextStep()">Next
                    <i class="zmdi zmdi-long-arrow-right"></i>
                </button>
            </form>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="step==4">
    <div class="wrapper">
        <div class="inner">
            <div class="image-holder">
                <img src="assets/images/5.jpg"
                     alt="">
            </div>
            <form>
                <h3>My name is ...</h3>
                <div class="form-row">
                    <input type="text"
                           class="form-control"
                           style="width: 100%;"
                           [ngModelOptions]="{standalone: true}"
                           [(ngModel)]="userName"
                           placeholder="Name">
                </div>
                <button type="button"
                        (click)="nextStep()">Next
                    <i class="zmdi zmdi-long-arrow-right"></i>
                </button>
            </form>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="step==5">
    <div class="wrapper">
        <div class="inner">
            <div class="image-holder">
                <img src="assets/images/6.jpg"
                     alt="">
            </div>
            <form>
                <h3>How would you describe yourself?</h3>
                <div class="form-row">
                    <textarea name=""
                              id=""
                              placeholder="Message"
                              class="form-control"
                              style="height: 130px;width: 100%;"></textarea>
                </div>
                <button type="button"
                        (click)="nextStep()">Next
                    <i class="zmdi zmdi-long-arrow-right"></i>
                </button>
            </form>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="step==6">
    <div class="wrapper">
        <div class="inner">
            <div class="image-holder">
                <img src="assets/images/7.jpg"
                     alt="">
            </div>
            <form>
                <h3>Where do you live?</h3>
                <div class="form-row">
                    <input type="text"
                           class="form-control"
                           style="width: 100%;"
                           [ngModelOptions]="{standalone: true}"
                           [(ngModel)]="userCountry"
                           placeholder="Country/Town">
                </div>
                <button type="button"
                        (click)="nextStep()">Next
                    <i class="zmdi zmdi-long-arrow-right"></i>
                </button>
            </form>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="step>6">
    <div class="wrapper">
        <div class="inner">
            <div class="image-holder">
                <img src="assets/images/user.png"
                     alt="">
            </div>
            <form>
                <h3>Your Profile:</h3>
                <div class="form-row">
                    <span style="width: 100%;">Name: {{userName}}</span>
                </div>
                <div class="form-row">
                    <span style="width: 100%;">Age: {{userAge}}</span>
                </div>
                <div class="form-row">
                    <span style="width: 100%;">Country/Town: {{userCountry}}</span>
                </div>
                <div class="form-row">
                    <button type="button"
                            style="background-color: grey;">Find Matches
                    </button>
                </div>
                <div class="form-row">
                    <span style="width: 100%;font-weight: 800;">Your account is under review.<br />This process may take a while.</span>
                </div>
            </form>
        </div>
    </div>
</ng-container>

<router-outlet></router-outlet>